<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title> Music Lessons </title>
    <!--   <link rel="stylesheet" type="text/css" href="css2/style2.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
</head>
<body style="width: 1595px;">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black; ">
    <a href="/home" class="navbar-brand">
        <img src="http://pngimagesfree.com/Music/Colour-Music-Notes-PNG.png" width="30" height="30" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="
navbarSupportedContent" aria-expanded="false" aria-label="Toggle 
navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="" class="nav-link">Ի՞նչ է երաժշտություն</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Պատմական դարաշրջաններ</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Երաժշտական հոգեբանություն </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link">Հաղորդագրություն</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Մուտք</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModal1">Մեր մասին</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModal">Հետադարձ կապ</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="text" class="form-control mr-sm-2" placeholder="Search" aria-label="Search"/>
            <button class="btn  btn-outline-success my-2 my-sm-0">Որոնել</button>
        </form>
    </div>
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>
    <h5 th:text="${material.getTitle()}"></h5>
    <h5 th:text="${material.getText()}"></h5>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Հետադարձ կապ</h5>
                <button class="close" type="botton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Հեռախոսը` +374 10 26 66 35
                    <br/>Էլ. հասցեն` aghvan.gevorgyan.98@mail.ru</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal1Label">Մեր մասին</h5>
                <button class="close" type="botton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Music Lessons կայքը նախատեսված է այն անձանց համար, ովքեր սիրում են և ցանկանում են ուսումնասիրել
                    երաժշտություն։Կայքում տեղ գտած դասընթացները հանարավորություն կտան օգտագործողին հեշտությամբ յուրացնել
                    իրենց նախընտրած երաժշտական գործիքի մասին գիտելիքներ և կկարողանալ տիրապետել տվյալ երաժշտական գործիքի
                    օգտագործմանը։Կայքում կհանդիպեն նաև հետաքրքիր փաստեր երաժշտության և երաժշտական գործիքների
                    մասին,ինչպես նաև տեղյակ կլինեն հայտնի երաժիշտների, կոմպոզիտորների կյանքին։

                </p>
            </div>
        </div>
    </div>
</div>


<footer class="site-footer" style="background-color: #000; color: #fff; margin-top: 250px; padding-top: 30px;">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4></h4>
                <address class="text-info">
                    <li><a href="index.php" style="color: #fff;">Գլխավոր</a></li>
                    <li><a href="index1.php" style="color: #fff;">Ի՞նչ է երաժշտությունը </a></li>
                    <li><a href="index2.php" style="color: #fff;">Պատմական դարաշրջաններ</a></li>
                    <li><a href="index3.php" style="color: #fff;">Երաժշտական հոգեբանություն</a></li>
                    <li><a href="contact.php" style="color: #fff;">Հաղորդագրություն</a></li>
                    <li><a href="Login/log.php" style="color: #fff;">Մուտք</a></li>
                </address>
            </div>
        </div>

        <div class="bottom-footer"
             style="border-top: 1px solid #b2b2b2;margin-top: 10px;padding-top: 10px;color: #b2b2b2; ">
            <div class="col-md-5">@Copyright 2019</div>
            <div class="col-md-7">
                <ul class="footer-nav" style="text-align: right;list-style: none;">
                    <li style="display: inline;	padding: 0px 10px;"><a href="https://www.facebook.com/"
                                                                          target="_blank" style="color: #b2b2b2;">FB</a>
                    </li>
                    <li style="display: inline;	padding: 0px 10px;"><a href="ok.ru" target="_blank"
                                                                          style="color: #b2b2b2;">OK</a></li>
                    <li style="display: inline;	padding: 0px 10px;"><a href="https://mail.ru/" target="_blank"
                                                                          style="color: #b2b2b2;">MAIL</a></li>
                    <li style="display: inline;	padding: 0px 10px;"><a
                            href="https://www.youtube.com/watch?v=OLEzKlVzpuA" target="_blank" style="color: #b2b2b2;">YOUTUBE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>